[filter "lfs"]
  process = git-lfs filter-process
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
[user]
  name = Vikrant Shah
  email = 60457380+vikrrantshah@users.noreply.github.com
[core]
  askpass = git-gui--askpass
  editor = nvim
[init]
  defaultBranch = main
[alias]
# Branch
  b = branch
  # Delete branch
  bd = branch -d
  # Delete remote branch
  bdr = push -d
# Branch

# Checkout
  co = checkout
  cob = checkout -b
# Checkout

# Commit
  c = commit
  ca = commit -a
  cam = commit --amend
  cane = commit --amend --no-edit
# Commit

# Log
  # One line short log
  l = log --date=format:"%d-%m-%y" --pretty=format:"%C(yellow)%h\\ %C(reset)%<(61,trunc)%s\\ %C(auto)%d"
  # Custom long format
  ll = log --date=format:"%d-%m-%y" --pretty=format:"%C(yellow)%h\\ %C(green)%<(12,trunc)%ar\\ (%ad)\\ %C(magenta)%<(16,trunc)%cn\\ %C(reset)%<(60,trunc)%s\\ %C(auto)%d"
  # One line short log graph
  lg = log --date=format:"%d-%m-%y" --pretty=format:"%C(yellow)%h\\ %C(reset)%<(60,trunc)%s\\ %C(auto)%d" --graph
  # Custom long format graph
  llg = log --graph --date=format:"%d-%m-%y" --pretty=format:"%C(yellow)%h\\ %C(green)%<(12,trunc)%ar\\ (%ad)\\ %C(magenta)%<(16,trunc)%cn\\ %C(reset)%<(60,trunc)%s\\ %C(auto)%d"
# Log

# Reset
  r = reset
  rh = reset --hard
# Reset
  
# Rebase
  rb = rebase
  rbi = rebase -i
# Rebase

# Status
  s = status -s
# Status

# Others
  pfwl = push --force-with-lease
  la = "!git config -l | grep alias | cut -c 7-"
  a = add
# Others
[color]
  ui = true
  diff = auto
[diff]
# instead of using a and b notation
  mnemonicprefix = true
[push]
  autoSetupRemote = true
